*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Epilogue', sans-serif;
    font-family: 'Manrope', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

p{
    color: #444343;
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
  /* Banner section */

  .banner {
    background-image: url(../images/banner/banner2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-around;
   
}


.banner-item {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 170px 36px 230px 614px;
}
.banner-heading{
     width: 525px;
     color:  #151414;
     text-align: right;
     font-size: 65px;
     font-weight: 700;
     margin-bottom: 12px;
}
.banner-peragraph{
    display: flex;
    width: 494px;
    flex-direction: column;
    margin-bottom: 13px;

}

.btn-praimary{
    width: 160px;
    height: 64px;   
    border-radius: 5px;
    background: #F15B22;
    border: none;
    color: white;
    font-weight: 400;
    cursor: pointer;
}

/* End Banner section */
 
/* Start about section */

.about-section{

}
.about-image {
    padding: 180px 6px 317px 137px;
}
.about-box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 163px 136px 168px 129px;
}

.about-header {
    width: 413px;
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 12px;
}

.about-peragraph{
    width: 416px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 13px;
}

.svg-peragraph {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
    margin: auto;
    padding: 8px 74px 1px 6px;
}